/*
        店铺通用的样式

*/
.img{
    display: block;
    width: 100%;
}
/*商城列表*/
.u-mshop-item{
    position: relative;
    font-size: 14px;
    padding: 15px 15px 11px;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
}
.u-mshop-item dt{
    float: left;
    width: 100px;
}
.u-mshop-item .img{
    display: block;
    width: 100%;
}
.u-msitem-text{
    margin-left: 110px;
    width: 50%;
    font-size: 12px;
}
.u-msitem-btn{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 30px;
    height: 30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.u-mshop-item h3{
    line-height: 1;
    font-size: 16px;
    white-space: nowrap;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
}
.u-mshop-item p{
    font-size: 12px;
    color:#999;
}
.u-mshop-item p.u-msitme-text{
    height: 30px;
    margin: 6px 0 4px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-cliam: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
}
.u-msitem-icon span{
    font-size: 10px;
}
.u-msitem-icon b{
    display: inline-block;
    padding-left: 15px;
    width: 10px;
    height: 14px;
    background: url("../../Images/public/icon/v4.0/list_comment.png") left 4px no-repeat;
    background-size: 10px 10px;
    vertical-align: -2px;
    margin-left: 5px;
}
.u-msitem-icon b.u-map{
    background-image: url("../../Images/public/icon/v4.0/list_locate.png");
    background-position: left 3px;
}
.u-mshop-item b.u-comment{
    background-image: url("../../Images/public/icon/v4.0/list_comment.png");
    margin-left: 0;
}
.u-mshop-item b.u-scat{
    background-image: url("../../Images/public/icon/v4.0/list_orders.png");
}
/*带文字的标识*/
.u-msitem-iden{
    top:13px;
    float: right;
    width: auto;
    height: auto;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.u-msitem-iden b{
    padding: 3px 3px 1px;
    font-weight: normal;
    font-size: 10px;
    background-color: #ff9100;
    line-height: 1;
    color:#fff;
}
.u-msitem-iden b.u-iden-straw{
    background-color: #329ed6;
}
.u-msitem-iden b.u-iden-benefit{
    background-color: #ff472f;
}
/*商城列表结束*/