/*
    微店修改版
    zero
*/
body{
    color: #444;
    max-width: 760px;
    margin: 0 auto;
}
i{
    font-style: normal;
}
.pdl19{
    padding-left: 19px!important;
}
.pdl9{
    padding-left: 9px!important;
}
.pdr20{
    padding-right: 20px!important;
}
.pdr10{
    padding-right: 10px!important;
}
.pdb10{
    padding-bottom: 10px;
}
.bbe5{
    border-bottom: 1px solid #ededed;
}
/* 滚动 */
.banner{
    position: relative;
}
.box_swipe{ width:100%; overflow:hidden;}
.box_swipe ul{ overflow: hidden;}
.box_swipe ul li img{ display: block;width:100%;height: auto;}
/*商户信息*/
.market_about{position: absolute;bottom: 0;left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}
.market_about dl{ padding: 5px 106px 5px 15px;}
.market_about dl strong{font-weight:200;line-height: 1.4;}
.market_about dt strong:nth-child(2){padding:0px 0 3px;}
.market_about dl dd{top: 17px; right: 0; width: 99px; padding-left:6px; border-left: 1px solid #e3e3e3;}
.market_about dl dd a{ width: 45px; text-align: center; float: left;color: #fff;font-weight: 200;}
.market_about dl dd a img{ width: 24px;}
/*商户评级*/
.u-index{overflow:hidden;}
.u-index span{
    float: left;
    padding: 0 5px;
    margin-right: 10px;
    font-size: 10px;
    background-color: #ffba00;
    color: #000;
    border-radius: 2px;
    line-height: 1.4;
}
#star{position:relative;top:-3px;overflow: hidden;}
#star img {
    width: 14px;
    height: auto;
}
/*右边电话和地图*/
.u-icon-mshop{
    display: block;
    width: 28px;
    height:28px;
    background: url(/images/public/icon/icon_minshop.png?v=1.1) no-repeat;
    background-size:100% auto;
}
.market_about .u-icon-mshop{
    margin: 0 auto;
}
.u-icon-mTel{
    background-position: 0 -15px;
}
.u-icon-mMap{
    background-position: 0 -54px;
}
.fa_org span{
    font-weight: 400;
    font-size: 12px;
}
.order_newbuy{
    margin-top: 15px;
    background-color: #fff;
}
/*闪电支付*/
.newbuy_title{
    line-height: 32px;
    padding: 10px 15px ;
    overflow: hidden;
    position: relative;
}
.newbuy_title:before{
    content: "new";
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 10px;
    width: 50px;
    height: 15px;
    line-height: 15px;
    background-color: #ff5e0d;
    color: #fff;
    -webkit-transform: rotate3d(0,0,1,-45deg) translate3d(-11px,-8px,0);
    transform: rotate3d(0,0,1,-45deg) translate3d(-14px,-8px,0);
}
.newbuy_title .bgorg{
    width: 75px;
    height: 32px;
    float: right;
}
.newbuy_title a:link, .newbuy_title a:visited{
    color: #fff;
}
.newbuy_msg{
    padding: 0 15px 10px;
}
.order_newbuy .u-icon-mshop{
    display: inline-block;
    width: 24px;height: 24px;
    vertical-align: -7px;
    margin-right: 5px;
}
.u-icon-mPay{
    background-position: 0 -80px;
}
.u-icon-mPackage{
    background-position: 0 -149px;
}
.u-icon-mHui{
    background-position: 0 -185px;
}
/*列表通用*/
.u-mshop-pd{
    padding: 10px 15px;
    overflow: hidden;
    font-size: 12px;
}
.u-mshop-pd a{
    color: #ff9100;
}
.order_newbuy>div{
    border-bottom: 1px solid #ededed;
}
.order_newbuy>div:last-child{
    border-bottom: 0!important;
}
.u-mshop-list{
    position: relative;
    font-size: 14px;
    padding: 10px 15px;
    overflow: hidden;
}
.u-mshop-list dt{
    width: 50%;
}
.u-mshop-list dt h3{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.u-mshop-list dt p{
    color: #999;
    font-size: 12px;
    overflow: hidden;
}
.Ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.u-mshop-list dd{
    position: absolute;
    top:50%;
    right: 15px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    color: #ff9100;
}
.u-mshop-list del{
    color: #999;
    font-size: 12px;
}
.u-icon-mClear{
    background-position: 0 -115px;
}
.u-mshop-btn{
    display: inline-block;
    width: 75px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #ff9100;
    color: #ff9100;
    font-size: 14px;
}
.u-mshop-btn:link,.u-mshop-btn:visited{
    color: #ff9100;
}
/*评论*/
.u-mshop-comments .u-mshop-list p{
    overflow: hidden;
    color: #999;
    font-size: 10px;
}
.u-mshop-comments .u-mshop-list p:first-child{
    color: #666;
}
.u-mshop-comments .u-mshop-list h3{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*套餐选择*/
.f-package .u-pack-fRed{
    color: #ff472f;
}
.f-package .u-mshop-list li{
    position: relative;
    padding: 8px;
    border: 1px solid #ededed;
    margin-bottom: 5px;
}
.u-mshop-list li:last-child{
    margin-bottom: 0;
}
.f-package li p{
    line-height: 2;
}
    .f-package p span.abs{
        right: 0;
        top:-2px;
        color: #ff9100;
    }
    .f-package span.abs i{
        font-size: 16px;
    }
/*通用的底下导航*/
.m-fixed-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    overflow: hidden;
    background-color: #ff6a00;
    -webkit-box-shadow: -1px 0 10px 2px rgba(0,0,0,.3);
    -moz-box-shadow: -1px 0 10px 2px rgba(0,0,0,.3);
    -o-box-shadow: -1px 0 10px 2px rgba(0,0,0,.3);
    -ms-box-shadow: -1px 0 10px 2px rgba(0,0,0,.3);
    box-shadow: -1px 0 10px 2px rgba(0,0,0,.3);
}
.m-btn-left{
    float: left;
    width: 70%;
}
.m-btn-order{
    color: #fff100;
}
.m-btn-order span:first-child{
    font-size: 18px;
    margin-right: 5px;
}
.m-btn-gov{
    color: #fff;
    font-size: 14px;
}
.m-btn-right{
    overflow: hidden;
}
.m-btn-right a{
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size:14px;
    color: #fff100;
    border: 1px solid #fff100;
}
/*特惠详情--商户信息*/
.buy_market {
    height: 56px;
    overflow: hidden;
    padding: 10px 45px 10px 80px;
}
.buy_market dt {
    top: 10px;
    left: 0;
    width: auto;
}
.buy_market dd:nth-child(2){
    position: static;
    -webkit-transform:translateY(0);
    transform:translateY(0);
}
.buy_market .buy_market_icon {
    right: 0;
    border-left: 1px solid #ddd;
    padding: 5px 5px 5px 10px;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
}
.lh20 {
    line-height: 1.5;
}
/*通用底部的突出位置*/
.m-btn-no{
    height: 68px;
}
/*返回顶层*/
.top_icon{ position: fixed; right: 10px; bottom: 70px;}
/*没有更多了*/
.u-more{
    text-align: center;
    line-height: 3;
    font-size: 12px;
    color: #999;
}
/*图片自适应*/
.u-img{
    display: block;
    width: 100%;
    height: auto;
}
/*选择对勾*/
.z-sel{
    border-color: #ff9100!important;
}
.z-sel .u-select{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    background-color: #ff9100;
}
    .z-sel .u-select b{
        position: relative;
        display: block;
        width: 18px;
        height:18px;
    }
    .z-sel>p span:first-child{
        color: #ff9100;
    }
        .z-sel .u-select b:before {
            content:'';
            display: block;
            border: 9px solid #ff9100;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        .z-sel .u-select b:after {
            content:'!';
            display: block;
            border: 2px solid #fff;
            border-top-width: 0;
            border-right-width: 0;
            width: 8px;
            height: 4px;
            text-indent: -999em;
            -webkit-transform: rotate(-45deg);
            position: absolute;
            top: 5px;
            left: 5px;
        }

        /*------------------*/

    .download_tips_text 
    {
        padding: 15px 0;
        text-align: center;
    }


    .download_tips 
    {
        width: 85%;
        left: 50%;
        margin-left: -42.5%;
        position: fixed;
        top: 20%;
        z-index: 11020;
        border-radius: 6px;
        padding-bottom: 15px;
    }

    .bgwh{background:#fff;}

    .f16{ font-size:16px;}

   .download_tips_btn {
            width: 90%;
            background: #f60;
            margin: 0 auto;
            height: 45px;
            line-height: 45px;
        }

   .wap_bg{background:rgba(0, 0, 0, .5);background:#000\9; position:fixed; width:100%; height:100%; top:0; left:0; display:block; filter:Alpha(opacity=50); z-index:11010;}
   .newbuy_title:before{
        z-index: 11;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;

        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;
        oveflow:hidden;
    }
    .u-mshop-list dt{
            width: 60%;
        }
