/*

        公用的样式
        主要是一些公用的js的css

*/

/* 带按妞的信息提示弹层 */
.layermbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 19891014;
    display: none;
}
.layermanim {
    transition: all .18s;
    -webkit-transition: all .18s;
}
.laymshade,
.layermmain {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.laymshade {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}
.layermmain {
    display: table;
    font-family: Helvetica, arial, sans-serif;
    pointer-events: none;
}
.layermmain .section {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.layermchild {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    font-size: 13px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    pointer-events: auto;
}
.layermshow .layermchild {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.layermbox0 .layermchild {
    max-width: 360px;
    min-width: 250px;
    width: 90%;
}
.layermchild .layertitle,.layermbtn span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.layermchild .layertitle {
padding: 10px 45px 10px 10px;
border-bottom: 1px solid #EBEBEB;
font-weight: 400;
border-radius: 5px 5px 0 0;
}
.layermcont {
    text-align: center;
    padding: 20px 15px;
    line-height: 22px;
    border-radius: 5px;
}
.layermbtn {
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 0;
    text-align: center;
    border-top: 1px solid #EBEBEB;
}
.layermbtn span {
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 5px 0 0;
    color: #1666a9;
    float: left;
}
.layermbtn span:first-child {
    height: 39px;
    background-color: #fff;
    border-radius: 0 0 0 5px;
}
.layermbtn:before {
    content: '\20';
    position: absolute;
    width: 1px;
    height: 39px;
    left: 50%;
    top: 0;
    background-color: #EBEBEB;
}
/*弹层的css*/
.m_tips {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 70%;
    margin: 0 0 0 -35%;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    z-index: 999;
}
.m_tips p {
    padding: 0 20px;
}
.disabled {
    background-color: #e6e6e6 !important;
}