#忽略node模块
node_modules


#忽略vscode的配置文件
bower_components

#忽略app下面的一些文件
.tmp
webstart/build
webstart/dist
app/*.jade
app/*.html
app/scripts/*.js
app/styles/*.scss{
  "presets": ["es2015"]
}
app/styles/*.css