@charset "utf-8";
/* CSS Document */
body{font:14px/1.5 "Helvetica Neue",Helvetica,"\5FAE\8F6F\96C5\9ED1",STHeiTi,Arial,sans-serif; color:#666;}
body,form,p,ol,ul,p,h1,h2,h3,h4,li,dt,dd,dl,li,input{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;}
ul,dd,dl,dt,ol,li{list-style:none;}
em,cite{font-style:normal;}
a:link,a:visited{text-decoration:none;color:#444;}
a:hover{text-decoration:none;}
.lt{ float:left;}
.rt{ float:right;}
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f24{ font-size:24px;}
.lh18{ line-height:1.8;}
.lh20{ line-height:2;}
.n{font-weight:normal; font-style:normal;}
.b{font-weight:bold;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.tdl{text-decoration:underline;}
.tdn,.tdn:hover,.tdn a:hover{text-decoration:none;}
.g0{color:#000;}
.g3{color:#444;}
.g6{color:#666;}
.g9{color:#999;}
.fw{color:#fff;}
.fr{color:#e00;}
.fg{color:green;}
.fb{color:blue;}
.fy{color:#fc0;}
.fo{color:#ff9100;}
.fa_g0 a:link,.fa_g0 a:visited{color:#000;}
.fa_g3 a:link,.fa_g3 a:visited{color:#444;}
.fa_g6 a:link,.fa_g6 a:visited{color:#666;}
.fa_g9 a:link,.fa_g9 a:visited,.f_g9:link,.f_g9:visited{color:#999;}
.fa_wh a:link,.fa_wh a:visited,.f_wh:link,.f_wh:visited{color:#fff;}
.bde{border:1px solid #eee;}
.bbe{border-bottom:1px solid #eee;}
.pd10{ padding:10px;}
.mgt10,.mb10{ margin-bottom:10px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt40{ margin-top:40px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml40{ margin-left:40px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.mr40{ margin-right:40px;}
.bgwh{background:#fff;}
.bgblue{background:#157efb;}
.bgblue2{background:#70b1ff;}
.rel{position:relative;}
.abs{position:absolute;}
.abs1{position:absolute;}
.flx{ overflow:hidden; zoom:1;}
.fix{zoom:1;}
.fix:after{display:table; content:''; clear:both;}
.auto{margin-left:auto; margin-right:auto;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
.trans{-webkit-transition:all 0.3s;transition:all 0.3s;}
.wp100{ width:100%}
.br10{ border-radius:10px;}
.ico{ text-indent:-9999em; display:block; overflow:hidden;}
.yhei,input{font-family:"\5FAE\8F6F\96C5\9ED1";}
.va{vertical-align:-3px;}
input{-webkit-appearance:none; /*去除input默认样式*/}
input[type="submit"],input[type="reset"],input[type="button"],input{-webkit-appearance:none;}


.txt{ border:0px solid #b9c2d1; height:36px; font-size:14px; text-indent:6px;}
.btn{ background:#157efb; color:#fff; vertical-align:middle; text-align:center; border-radius:5px; border:none; font-size:16px; cursor:pointer;}
.wh85{ width:85%; height:50px; line-height:50px; text-align:center;}
.mlr10{ margin:0 10px;}.mt10{ margin-top:10px;}
input{ font-size:14px;}
.blue{ color:#157efb;}
.fa_blue a:link,.fa_blue a:visited{ color:#157efb;}
.br_d9{ border:1px solid #ddd}
.fb{ color:#429eff;}
.bgf5{ background:#f5f5f5;}


/* 2015.02.10 */
body{ background: #f7f7f7;}
.cdkey_txt{ padding: 0 10px; background: #fff;}
.cdkey_txt .txt{ height: 46px; line-height: 46px\9;}
.bgorg{ background: #ff9100;}
.cdkey_btn .btn{ border-radius: 2px; height: 46px;}
.cdkey_result{ padding: 20px 0;}
.cdkey_result .fg{ color: #22ac38}
.cdkey_join{ height: 46px; line-height: 46px; border-radius: 2px; font-size: 16px; text-align: center;}

.cdkey_nav{ margin-bottom: 15px;}
.cdkey_nav ul{ border-bottom: 1px solid #ff9100;}
.cdkey_nav ul li{ float: left; width: 50%;}
.cdkey_nav ul li a{ display: block; height: 43px; line-height: 43px; text-align: center; font-size: 16px; border-bottom: 3px solid #f7f7f7;}
.cdkey_nav ul .cakey_nav_clo a{ border-bottom: 3px solid #ff9100;}
.cdkey_nav ul .cakey_nav_clo a:link,.cdkey_nav ul .cakey_nav_clo a:visited{ color: #ff9100;}
.cdkey_tb tr th{ background: #fff7ec; padding: 10px 0; border-bottom: 1px solid #eee; width: 88px;}
.cdkey_tb tr td{ background: #fff; padding: 10px 0; border-bottom: 1px solid #eee; padding-left: 12px;}
.cdkey_gain dl{ padding:10px 0 10px 10px; border-bottom: 1px solid #eee; height: 55px;}
.cdkey_gain dl dt{ vertical-align: middle; height: 55px;display: table-cell;}
.cdkey_gain dl dd{ vertical-align: middle; top:26px; right: 10px;}


/* 2015.4.10 */
.gh_view_body{ margin-bottom: 50px;}
.gh_view_btn{ background: #d6112b; width: 100%; line-height: 50px; height: 50px; position: fixed; bottom: 0; left: 0;}
.gh_view_tit{  font-weight: 900; color: #d6112b; display: block; margin-bottom: 5px;}
.gh_view img{ padding: 0 0 15px; border-bottom: 1px dashed #ddd;}
.gh_view_note{ padding: 5px 10px 15px;}

.f30{ font-size: 30px;}
.juzhong{display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-align: center;display: box;box-orient: center;box-align: center;}
.gh_fy{ color: #f6ff00;}
.gh_tit .abs{ top: 50%; margin-top: -28px; left: 10px; line-height: 23px;}
.gh_tit_hel{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.gh_box dl{ padding: 10px 10px 12px 140px; border-bottom: 1px solid #e6e6e6;}
.gh_box dl dt{ top: 10px; left: 10px; width: 120px;}
.gh_box dl dd{ width: 100%;}
.gh_ticket_name{ width: 24px; height: 100px; text-align: center;}
.gh_ticket_price{ height: 78px; padding: 20px 0 0 12px; border: 1px solid #e6e6e6; background: #f7f7f7; border-left: none; width: 83px;}
.gh_ticket_price strong{ margin-left: -5px;}
.gh_btn{ border: 1px solid #ff9100; line-height: 32px;}
.gh_btn:link,.gh_btn:visited{ color: #ff9100;}
.gh_btn_buy{ background: #ff9100; line-height: 34px;}
.gh_text{ height: 100px;}

.gh_box1 .gh_ticket_name{ background: #ff433e;}
.gh_box1 .gh_ticket_price strong{ color: #ff433e;}
.gh_box2 .gh_ticket_name{ background: #4da344;}
.gh_box2 .gh_ticket_price strong{ color: #4da344;}
.gh_box3 .gh_ticket_name{ background: #4aa7ee;}
.gh_box3 .gh_ticket_price strong{ color: #4aa7ee;}
.gh_box4 .gh_ticket_name{ background: #f0a400;}
.gh_box4 .gh_ticket_price strong{ color: #f0a400;}
.gh_box5 .gh_ticket_name{ background: #a682e0;}
.gh_box5 .gh_ticket_price strong{ color: #a682e0;}

.gh_notice_btn{ position: fixed; right: 0; top: 50px;}
.gh_notice_btn a{ width: 20px; padding: 10px 8px; background: rgba(0,0,0,0.85); display: block; text-align: center;}
.gh_notice_btn a:link,.gh_notice_btn a:visited{ color: #f6ff00;}

.notice_box{ background: #f7f7f7; width: 100%; position: fixed; bottom: 0; left: 0; z-index: 11011;}
.notice_box_tit{ line-height: 36px; background: #e6e6e6;}
.notice_box_pic,.notice_box_text{ padding: 15px;}
.notice_box_text .mr5{ margin-right: 1px; font-family: "\5b8b\4f53", simsun, serif;}
.notice_box_btn{ padding: 0 15px 15px;}
.notice_box_btn a{ height: 40px; line-height: 40px;}
